@{
    ViewData["Title"] = "Menu";
    Layout = "_AppLayout";
}

<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-thin-straight/css/uicons-thin-straight.css'>

<div class="check-in-options">
    <h6>Menu</h6>
    <div class="check-in-option">
        <a asp-action="Start" asp-controller="CheckingIn"><i class="fi fi-rr-shield-check px-3"></i>Campus Access</a>
    </div>
    <div class="check-in-option">
        <a><i class="fi fi-ts-it px-3"></i>Lab Work</a>
    </div>
</div>
