
@{
    ViewData["Title"] = "CheckingIn";
    Layout = "_AppLayout";
}
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

<div class="check-in-options">
    <h6>Who's Checking In?</h6>
    <div class="check-in-option">
        <a asp-action="AddStudent"><i class="fi fi-rr-person-simple px-3"></i>Cut Student</a>
    </div>
    <div class="check-in-option">
        <a><i class="fi fi-rr-person-simple px-3"></i>Cut Staff Member</a>
    </div>
    <div class="check-in-option">
        <a><i class="fi fi-rr-person-simple px-3"></i>Visitor</a>
    </div>
</div>


